.header {
  padding-top: 25px;
}

.nav {
}

.nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 30px;
  background-color: var(--font-color-grey);
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: var(--font-color-grey);
  font-size: 18px;
  font-weight: 700;
}

.nav-link:hover {
  color: var(--main-color-black);
}
